
//Tamaño base en porcentajes
@for $i from 1 through 20 {
	.grupo .base-#{$i*5}{
		width: unquote($i*5 + "%");
	}
}

// Tamaño base en fracciones
@each $fraccion-nombre, $fraccion in $fracciones{
	@for $i from 1 through $fraccion{
		.grupo .base-#{$i}-#{$fraccion}{
			width: (100% / $fraccion) * $i; 
		}
	}
}

// Breakpoints
@each $size, $screen-size in $breakpoints{
	/*#{$size}: A partir de #{$screen-size}*/
	@media all and (min-width: $screen-size){
		/*Tamaños en porcentajes*/
		@for $i from 1 through 20 {
			.grupo .caja.#{$size}-#{$i*5}{
				width: unquote($i*5 + "%");
			}
		}
		/*Tamaño en fracciones*/
		@each $fraccion-nombre, $fraccion in $fracciones{
			@for $i from 1 through $fraccion{
				.grupo .caja.#{$size}-#{$i}-#{$fraccion}{
					width: (100% / $fraccion) * $i; 
				}
			}
		}
	}
}